<div class="panel">
    <div class="panel-title">Samples</div>
    <div class="panel-body">
        <ul>
            <li>@Html.ActionLink("HTML Report", "HtmlReport")</li>
            <li>@Html.ActionLink("Simple PDF", "Pdf")</li>
            <li>@Html.ActionLink("PDF With Model", "PdfModel", new { id = "yoda"})</li>
            <li>@Html.ActionLink("Take 3", "PdfTake3")</li>
            <li>@Html.ActionLink("Complete Report", "ReportSample")</li>
        </ul>
    </div>
</div>